//* Globals
@import 'globals/colors';
@import 'globals/container.scss';


//* Mixins
@import 'mixins/flex';

//* Layouts
@import 'layout/header';
@import 'layout/menu';
@import 'layout/footer';

//*components
@import 'components/hero';
@import 'components/services';
@import 'components/call_action';
@import 'components/offer';

@font-face {
	font-family: GE Sans;
	src: url('../fonts/GE\ Inspira\ Regular.ttf') format('truetype');

  }

  @font-face {
	font-family: GE Sans Bold;
	src: url('../fonts/GE\ Inspira\ Bold.ttf') format('truetype');

  }


  
*{
	font-family: GE Sans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button{
	border: 0;
	outline: none;
	background-color: transparent;
	transition: 0.3s;
}

a{
	text-decoration: none;
	transition: 0.3s;
}

svg{
	width: 100%;
	height: 100%;
}

h1,h2{
	font-family: GE Sans Bold;
}

