.submenu{
    z-index: 200;
    top: -200px;
    right: 50%;
    background-color: $white;
    width: 300px;
    height: auto;
    padding: 20px;
    transition: 0.3s;
    position: fixed;

    @media(min-width:1700px){
        right: 54%;
    }

    &--active{
        @include flex-j-center;
        flex-direction: column;
        gap: 10px;
        top: 90px;
    }

    a{
        color: $water_blue;
        font-size: 18px;

        &:hover{
           color: $black
        }
    }

}
