.banner_services{
    width: 100%;
	position: relative;
	height: auto;
    padding: 30px 0 0px 0;
    
    @media(min-width:1199px){
        padding: 60px 0 0px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;  
    }

    &__banner{
        width: 100%;
        background-image: url('../../img/banner-services.webp');
        background-position: center;
        background-repeat: no-repeat;
        padding: 30px;
        border-radius: 20px;

        &__text{
            padding: 30px;
            @include flex-center-center;
            flex-direction: column;  
            width: 100%;
            background-color: rgba(60,75,94,0.4);
            backdrop-filter: blur(10px);
    
            h1{
                color: $white;
                font-size: 20px;
                text-align: center;
                font-family:Ge-Sans-Bold;
           
                @media(min-width:768px){
                    font-size: 25px;
                }
        
                @media(min-width:1199px){
                    font-size: 30px;
                }
                        
                @media(min-width:1700px){
                    font-size: 35px;
                }
            }
        
            p{
                width: 100%;
                color: $white;
                font-family: GE-Sans-Regular;
                font-size: 15px;
                text-align: center;
                padding-top: 15px;
        
                @media(min-width: 1199px){
                    font-size: 18px;
                }
            }
        
            &__button{
                @include flex-center-center;
        
                @media(min-width:1199px){
                    @include flex-center-end;
                }
        
                a{
                    border: 2px solid $white;
                    background-color:transparent;
                    font-family: Ge-Sans-Bold;
                    margin-top: 15px;
                    font-weight: bold;
                    padding: 15px ;
                    color:$white;
                    border-radius: 50px;
                    text-align: center;
                    font-size: 15px; 
        
                    @media(min-width:678px){
                        font-size: 18px;  
                        padding: 15px 30px ;   
                    }
                        
                    @media(min-width:1199px){
                        font-size: 22px;     
                        margin-top: 30px; 
                    }
                }
        
                a:hover{
                    background-color: $science_blue ;
                    color: $white;
                    border: 2px solid $science_blue;
                }
            }
        }
    }

    

    
}
