.call_button{
    width: 100%;

    .container{
        @include flex-center-center;
        flex-direction: column;  
    }

    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-center-end;
        }

        a{
            border: 2px solid $science_blue ;
            background-color:$science_blue ;
            font-family: Ge-Sans-Bold;
            margin-top: 15px;
            font-weight: bold;
            padding: 15px ;
            color:$white;
            border-radius: 50px;
            text-align: center;
            font-size: 15px; 

            @media(min-width:678px){
                font-size: 18px;  
                padding: 15px 30px ;   
            }
                
            @media(min-width:1199px){
                font-size: 22px;     
                margin-top: 30px; 
            }
        }

        a:hover{
            background-color: $white ;
            color: $science_blue;
            border: 2px solid $science_blue;
        }
    }
}