.offer{
    width: 100%;
	position: relative;
	height: auto;
    padding: 60px 0;

    @media(min-width:1199px){
        padding: 120px 0 ;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
    }


    &__title{
        h1{
            padding-top: 25px;
            color: $black;
            font-size: 20px;
            text-align: center;
            font-family: GE Sans bold;
            font-weight: bold;
    
            @media(min-width:768px){
                font-size: 25px;
            }
    
            @media(min-width:1700px){
                font-size: 30px;
            }
        }

        p{
            padding-top: 15px;
            color: $black;
            font-family: GE Sans;
            font-size: 15px;
            text-align: center;
    
            @media(min-width: 1199px){
                font-size: 18px;
                padding-top: 30px;
            }
        }
    }
}