$white:white;
$black:black;

//*Black
$baltic_sea:#4f4f4f;


//*blue
$elephant:#00489A;
$science_blue:#0870D8;
$water_blue:#1428A0;
$medium_electric_gray:#3C4A5E;

$harp:#EAEFF2;

//*orange
$gold_drop:#DEC83C;
